<style>
  #shop-react-app {
    max-width: 1200px;
  }
</style>

<div id=“shop-react-app”></div>
{% schema %}
  {
    "name": "Shopapp Section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}